<form action="/productos" method="post">
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" required>
            </div>
            <div>
                <label for="precio">Precio</label>
                <input type="text" name="precio" required>
            </div>
            <div>
                <label for="categoria">Categoria</label>
                <input type="text" name="categoria" required>
            </div>
            <div>
                <label for="thumbnail">Link</label>
                <input type="text" name="thumbnail" required>
            </div>
            <div>
                <input type="submit">
            </div>
        </form>
        <a href="/productos">Listado de productos</a>