<h1>Ingrese un Producto</h1>
<form action='/productos' method='post'>
	<div>
		<p>Nombre</p>
		<input type='text' name='nombre' required='' />
	</div>
	<div>
		<p>Precio</p>
		<input type='text' name='precio' required='' />
	</div>
	<div>
		<p>Categoria</p>
		<input type='text' name='categoria' required='' />
	</div>
	<div>
		<p>Foto URL</p>
		<input type='text' name='thumbnail' required='' />
	</div>
	<div>
		<br>
		<input type='submit' class='submit-button' />
	</div>
</form>
